<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>학생 정보 검색</title>
  </head>
  <body>
    <h1>학생 정보 검색</h1>
    <form action="/result" method="post">
      <p>
        <label for="class">반:</label>
        <input type="text" id="class" name="class">
      </p>
      <p>
        <label for="number">번호:</label>
        <input type="text" id="number" name="number">
      </p>
      <p>
        <input type="submit" value="검색">
      </p>
    </form>
  </body>
</html>
